<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt voluptatem numquam doloribus eligendi! Ut, quisquam, commodi nesciunt quaerat iure magni pariatur perspiciatis harum voluptas mollitia animi nihil sequi praesentium dolorum.</p>
</div>